body {
    background-color: #deddfb;
    margin: 0;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header {
    background-image: url(Assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    height: 698px;

}

.color {
    color: #4E47FF;
    font-size: 34px;
}

.nav {
    padding: 0 150px;
}

.nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button {
    background-color: #4E47FF;
    color: white;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    padding: 12px 36px;
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 152px 267.5px;

}

.text button {
    gap: 37px;
}
.text h1{
    font-size: 64px;
}