body {
    margin: 0;
    background-color: #F5F8FF;

}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    background-image: url(Assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    height: 698px;

}

.color {
    color: #4E47FF;
    font-size: 34px;
}

.nav {
    padding: 0 150px;
}

.nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button {
    background-color: #4E47FF;
    color: white;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    padding: 12px 36px;
    border-radius: 10px;
}

.button:hover {
    background-color: gold;
    color: black;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 152px 267.5px;

}

.banner button {
    gap: 37px;
}

.banner h1 {
    font-size: 64px;
}

.action {
    display: flex;
    justify-content: space-around;
    margin-top: 116px;
    gap: 220px;
    margin: 116px 145px;

}

.action p {
    font-size: 24px;
    font-weight: normal;
    color: #25243280;
    ;
}

.action h1 {
    font-size: 42px;
}

.imges img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.productive {
    text-align: center;
    border-radius: 24px;
    background-color: #c5c3ff;
    margin: 116px 145px;
    padding: 50px 142px;
}

.productive h1 {
    font-size: 38px;
}

.productive_div {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.productive_div p {
    color: #000000;

}

.productive_div h1 {
    margin: 0;
    font-size: 80px;

}

.UserBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 137px 150px;

}

.users {
    border: 1px solid #F2EDED;
    padding: 25px;
    gap: 24px;
    border-radius: 14px;

}

.users h1 {
    font-size: 42px;

}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;


}

.userAvater {
    display: flex;
    align-items: center;
    gap: 12px;
}

.userAvaterh4 {
    color: #757575;
}

.userAvater p,
h4 {
    color: #B3B3B3;
}

.UserReview {
    display: flex;
    align-items: center;
    justify-content: space between;
    gap: 20px;

}

.Focus img {
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
    margin-top: 20px;


}

.Focus {
    background-color: #FFFFFF;
    border-radius: 14px;
    margin: 150px 137px;
    padding: 71px 150px;
}

.focus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.focus-container p {
    margin-top: 0;
    color: #00000080;
}

.Touch {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 92px 150px 14px 150px;
    padding-bottom: 71px;

}

.Touch h1 {
    font-size: 97px;

}

.TouchInput {
    display: flex;
    flex-direction: column;

}

.TouchInput input {
    width: 497px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 19px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    
}

.TouchInput textarea {
    box-sizing: border-box;
    width: 497px;
    height: 135px;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 32px;
    border: none;

}

.TouchInput button {
    width: 497px;
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
}

.footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: #FFFFFF;
    padding: 104px 455px;
    color: #8987A1;

}
.footer h1{
 font-size: 100px;
 color: #4E47FF;
 margin: 0;
 
}

.footerNav {
display: flex;
list-style: none;
justify-content: space-between;
margin-top: 20px;
cursor: pointer;
}